{% extends 'base.html.twig' %}
{% block body %}

<<<<<<< HEAD
<p class="m-5 content"> test </p>
=======
<div class="page-header mt-5 m-5">
    <h1>Innov'Anglais, c'est quoi ?</h1>
</div>

<p class="container m-5">
    Le site Innov'Anglais a pour but de faciliter l'apprentissage de l'Anglais, de manière éducatif et sans prise de tête.
    <br>Avec Innov'Anglais, testé vos connaissance linguistique grâce a notre outils situé en page
    "<a href="{{path('app_information')}}">Apprendre</a>".


    <br>
    Ce dernière est totalement gratuit et est dêvelopper continuellement.
</p>
>>>>>>> 38d2476587f55331555dd142905438027d4d3527
{% endblock %}