{% extends 'base.html.twig' %}
{% block body %}
<div style="margin-top: 5%">
    <div class="container content">
        <h1 class="text-center text-light">Les contributeurs du projet</h1>
        <ul class="maliste list-group mt-5">
            <li class="list-group-item text-light">Axel Laude</li>
            <li class="list-group-item  text-light">Tanguy Ozano</li>
            <li class="list-group-item  text-light">Tom Martin</li>
            <li class="list-group-item  text-light">Jonathan Sobkowiak </li>
            <li class="list-group-item  text-light">Pierre Ritzzo</li>
            <li class="list-group-item  text-light">Nicolas De Falco</li>

        </ul>
    </div>
</div>
{% endblock %}